.about {
    height: 100vh;
    //background-color: $black;
    background: url(../images/bg-b.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
    #about-title {
        color: $white;
        border-top: 10px solid $bright-grey;
        border-bottom: 10px solid $bright-grey;
        //border-top: 10px solid $white;
        //border-bottom: 10px solid $white;
        background-color: $black;

    }
}

/* Desktop - 8 */


/*position: relative;
width: 1920px;
height: 1080px;

background: rgba(255, 255, 255, 0.05);*/


/* Rectangle 1 */

/*position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;

background: #FFFFFF;*/


/* Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis Data Science Machine Learning Data Analysis */

/*position: absolute;
width: 2544.56px;
height: 2060px;
left: -461px;
top: 194.56px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 100px;
line-height: 103px;*/
/* or 103% */
/*display: flex;
align-items: center;
letter-spacing: 0.065em;

color: rgba(0, 0, 0, 0.08);

transform: rotate(-28.98deg);*/



