.one {
    background: url(../images/portfolio1.jpg);
}
.two {
    background: url(../images/portfolio2.jpg);
}
.three {
    background: url(../images/portfolio3.jpg);
}
.four {
    background: url(../images/portfolio4.jpg);
}
.five {
    background: url(../images/portfolio5.jpg);
}
.six {
    background: url(../images/portfolio6.jpg);
}