.portfolio {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .project {
            position: relative;

            .img-background {
                min-height: 250px;
                width: 100%;
                background: url("images/abt_bckgrnd");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .title-description {
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                text-align: center;

                .project-title {
                    font-weight: 600;
                    color: transparent;
                }

                &:hover .project-title {
                    font-weight: 600;
                    color: $primaryColor;
                }
                .project-description {
                    font-weight: 600;
                    color: transparent;
                }

                &:hover .project-description {
                    font-weight: 600;
                    color: $primaryColor;
                }
            }
        }
    }
}

.img-darken {
    transition: 0.5s;
    filter: brightness(10%);
}