#portfolio {

    .projects {
        padding: 2rem;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .project {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;


            .project-element {
                height: 100%;
                width: 100%;

                .title-description {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                    width: 100%;

    
                    .project-title {
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: transparent;
                    }
    
                    &:hover .project-title {
                        font-weight: 600;
                        color: $primaryColor;
                    }
                    .project-description {
                        font-size: .8rem;
                        color: transparent;
                    }
    
                    &:hover .project-description {
                        font-weight: 600;
                        color: $primaryColor;
                    }
                }

            }


        }
    }
}

.img-darken {
    transition: 0.5s;
    filter: brightness(10%);
}