$white: #FFFFFF;
$primaryColor: #00FFF2;
$purple: #4013C1;
$purple2: #7356BF;
$bright-grey:#747474;
//$dark-grey: #070707;
//$black: #050505;
$black: black;



//$title-font: 'Lobster', cursive;
$title-font: 'Poppins', sans-serif;
$text-font: 'Poppins', sans-serif;