//$primaryColor: #00FFF2;
$primaryColor: #ff006a;
$white: rgb(218, 238, 237);
$bright-grey:#747474;
$dark-grey: #070707;
$black: #050505;

$title-font: 'Lobster', cursive;
$text-font: 'Poppins', sans-serif;