nav {
  padding: 0rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  background-color: #121212;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

nav .nav-links li {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 0.3rem;
}

nav .nav-links li a {
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
  text-decoration: none;
  font-weight: lighter;
  color: #daeeed;
}

nav .nav-links li a:hover {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

nav .nav-links #active-nav-link {
  border-bottom: 2px solid #ffffff;
  color: #daeeed !important;
}

nav .logo a {
  font-weight: medium;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
  font-family: "Lobster", cursive;
}

.intro {
  background: #050505;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro-text {
  color: #ffffff;
  font-size: 2.5rem;
  text-align: center;
}

.intro .intro-text .hide {
  background: #050505;
  overflow: hidden;
}

.intro .intro-text .hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.slider {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
  width: 100vw;
  height: 90vh;
  background-color: #050505;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#particles-js .big-text {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  font-size: 6rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-family: "Lobster", cursive;
}

#particles-js .subtitle {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  font-size: 1.5rem;
  font-weight: normal;
  color: #daeeed;
  text-align: center;
}

#particles-js .scroll-icon {
  position: absolute;
  fill: #ffffff;
  max-height: 15vh;
  width: 5vw;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #050505;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */