header {
  background: #050505;
}

header nav {
  padding: 0rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  background-color: black;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

header nav .nav-links li {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 0.3rem;
}

header nav .nav-links li a {
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
  text-decoration: none;
  font-weight: lighter;
  color: #daeeed;
}

header nav .nav-links li a:hover {
  border-bottom: 2px solid #00FFF2;
  color: #00FFF2;
}

header nav .nav-links #active-nav-link {
  border-bottom: 2px solid #00FFF2;
  color: #daeeed !important;
}

header nav .logo a {
  font-weight: medium;
  font-size: 5vh;
  color: #00FFF2;
  text-decoration: none;
  font-family: "Lobster", cursive;
}

.intro {
  background: #050505;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 1;
}

.intro .intro-text {
  color: #00FFF2;
  font-size: 5vh;
  text-align: center;
  margin: 2rem 5rem;
}

.intro .intro-text .hide {
  background: #050505;
  overflow: hidden;
}

.intro .intro-text .hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.slider {
  background: #00FFF2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: hidden;
  z-index: 1;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
  position: relative;
  width: 100vw;
  height: 90vh;
  background-color: #050505;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}

#particles-js .big-text {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  font-size: 12vh;
  color: #00FFF2;
  font-weight: bold;
  text-align: center;
  font-family: "Lobster", cursive;
}

#particles-js .subtitle {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  font-size: 2.5vh;
  font-weight: normal;
  color: #daeeed;
  text-align: center;
}

#particles-js .scroll-icon {
  position: absolute;
  fill: #00FFF2;
  height: 15vh;
  width: 10vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0vh;
  cursor: pointer;
}

/*@media screen and (max-width: 240px) {
	.intro {
		
		.intro-text {
			color: $primaryColor;
			font-size: 5vh;
			text-align: center;
			margin: 2rem 5rem;
	
			.hide {
				background: $black;
				overflow: hidden;
	
				span {
					transform: translateY(100%);
					display: inline-block;
				}
			}
		}
	}
	
	.slider {
		background: $primaryColor;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateY(100%);
		overflow: hidden;
		z-index: 1;
	}
	
	canvas {
		display: block;
	}
	  
	  
	#particles-js {
		position: relative;
		width: 100vw;
		height: 90vh;
		background-color: $black;
		background-image: url('');
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 0;
	
		.big-text {
			position: absolute;
			top: 10%;
			left: 50%;
			transform: translate(-50%, -10%);
			font-size: 12vh;
			color: $primaryColor;
			font-weight: bold;
			text-align: center;
			font-family: $title-font;
		}
	
		.subtitle {
			position: absolute;
			top: 70%;
			left: 50%;
			transform: translate(-50%, -70%);
			font-size: 2.5vh;
			font-weight: normal;
			color: $white;
			text-align: center;
		}
	
		.scroll-icon {
			position: absolute;
			fill: $primaryColor;
			height: 15vh;
			width: 10vh;
			left: 50%;
			transform: translateX(-50%);;
			bottom: 0vh;
			cursor: pointer;
		}
	}
}*/
html, body {
  font-size: 100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */